<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      {% load static %}
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial scale=1">
    <link rel="stylesheet" href=' {% static "study/secret.css" %}' type="text/css" media="all">
</head>
  <body>
      {% load myfilter %}
      {% load static %}
<form action="" name='' method="get" accept-charset="utf-8">{% csrf_token %}
    
<div class="login-box">
  <h1>Secret Message</h1>
  <div class="textbox">
    <i class="fas fa-user"></i>
    <input type="text" name="message" id="user_input" autocomplete="off" placeholder="Type...">
  </div>
  <input type="submit" class="btn"  value="Decode / Incode Text">
</form>

  <div class="textbox">
    <i class="fas fa-book"></i>
    <input type="text" autocomplete="off" value="{{text | secretm}}" id="myInput">
    </div>
<button onclick="myFunction()" class="btn">Copy text</button>
<p><span class='txt'>Text :~ </span>{{text}}</p>
<p><span class='txt'>Text Incode/Decode :~ </span>{{text | secretm}}</p>

<script>
function myFunction() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  copyText.setSelectionRange(0, 99999)
  document.execCommand("copy");
}
function showInput() {
        var my='{{text}}'
        document.getElementById('myInput').value = 
my;
document.getElementById('display').innerHTML=
document.getElementById("user_input").value;
    }
</script>

  </body>
</html>
